@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/kanit"; /* โหลดฟอนต์ Kanit */
@import "@fontsource/kanit/300.css"; /* น้ำหนัก 300 */
@import "@fontsource/kanit/400.css"; /* น้ำหนัก 400 */
@import "@fontsource/kanit/700.css"; /* น้ำหนัก 700 */
